    <nav class="navbar navbar-light px-4 ">


        <!--début Logo-->
        <div class="container-fluid d-flex align-self-center">
            <div>
                <p class="fs-1 fw-bold nav-title">P.SAVON</p>
            </div>
       <!--fin Logo-->

        <!--Début Elements-->
        <div class="justify-content-end gap-5 d-none d-md-flex align-items-center">
            <!--Nav elements - accueil , calculatrice et ingrédients-->
            <ul class="list-unstyled d-flex gap-5">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Accueil</a>
                    </li>
    
                    <li class="nav-item">
                        <a href="/calculateur" class="nav-link">Calculateur</a>
                    </li>


                    <li class="nav-item">
                        <a href="/recettes" class="nav-link">Mes recettes</a>
                    </li>
           </ul>

            <!--Nav buttons - s'inscrire et se connecter-->
            <ul class="d-flex gap-3 list-unstyled">
                <li class="btn-purple nav-item  px-3 py-2 rounded text-white fw-bold">
                    <a href="/connexion" class="nav-link">connexion</a>
                </li>

                <li class="btn-purple nav-item  px-3 py-2 rounded text-white fw-bold">
                    <a href="/inscription" class="nav-link">S'inscire</a>
                </li>
            </ul>
         
        </div>
         <!--Fin Elements-->

         <!-- début Side navbar-->
          <div class="d-md-none d-block position-relative">
            <svg class="d-block" (click)="openNav()"  #barsId xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#371b7d" d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM64 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L96 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>
           
            <div #sideNav class="side-nav p-2">
                <svg #xmark id="xmark" (click)="closeNav()" class="position-absolute end-0 " xmlns="http://www.w3.org/2000/svg" height="20" width="15" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#d0111a" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                    <!--Nav elements - accueil , calculatrice et ingrédients-->
                <ul class="list-unstyled d-flex flex-column gap-2">
                        <li class="nav-item">
                            <a href="/" class="nav-link nav-hover">Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a href="/calculateur" class="nav-link">Calculateur</a>
                        </li>

                        <li class="nav-item">
                            <a href="/recettes" class="nav-link">Mes recettes</a>
                        </li>
                
                <!--Nav buttons - s'inscrire et se connecter-->
                    <li class="btn-purple nav-item  px-3 py-2 rounded text-white fw-bold">
                        <a href="/connexion" class="nav-link">connexion</a>
                    </li>

                    <li class="btn-purple nav-item  px-3 py-2 rounded text-white fw-bold">
                        <a href="/inscription" class="nav-link">S'inscire</a>
                    </li>
                </ul>

            </div>
            
          </div>
        <!-- End Side navbar-->


    </div>   
</nav>

