<div class="d-grid p-5">
    <!--Left side-->
    <div class="col-6 d-flex flex-column">
       <h1 class="fw-bold">Calculateur de <br/> Saponification</h1>
       <p></p>
       <p style="width: fit-content; " class="btn-purple nav-item px-3 py-2 rounded text-white fw-bold ">
          <a href="/calculateur" class="nav-link">Commencer à calculer</a>
       </p>
    </div>

<!--right side-->
    <div class="col-6 container">
        <div class="d-grid">
            <div class="col-6 container">
                <div class="row row-cols-1">
                    <img [src]="urlImage[0]" alt="image">
                </div>
              </div>

            <div>
                
            </div>
         
         
        </div>

    </div>
</div>
